.intro{
    font-size:30px;
    font-family:sans-serif;
    text-shadow:1px 1px 2px white;
    text-align:center;
}

body{
    height:150vh;
    background: linear-gradient(rgb(200, 202, 202),rgb(70, 70, 70));
    font-size:20px;
}
.footer{
    text-align:center;
    color:rgb(0, 0, 0);
    font-size:20px;
}


.link-to-home{
    text-align:right;
    font-size: 25px;
    padding:15px;
}
.link-to-home a{
    color:rgb(85, 85, 85);
    font-weight:500;
    font-size:30px;
    text-decoration: none;
    padding:10px;
}

